body {
    padding-bottom: 40px;
}

#chart {
    border: 1px solid #E1E1E8;
    width: 100%;
}

#inputCSV {
    width: 100%;
}

#jsonEditor {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #E1E1E8;
}

#csvEditor {
    position: relative;
    height: 200px;
    border: 1px solid #E1E1E8;
}

#sourceEditor {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #E1E1E8;
}

div#introduction {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#introduction h1 {
    margin-bottom: 0;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

#introduction p {
    font-size: 16px;
    font-weight: 200;
    line-height: 27px;
    color: inherit;
}

